########################################################
# ero-erodouga Blog
########################################################
start=http://ero-erodouga.com/
########################################################
# Videos
########################################################
item_infos=proxy\.link=([^&]+)
item_order=url
item_info_name=type
item_info_build=video
item_info_name=catcher
item_info_build=xvideos.com
item_url_build=%s
########################################################
# Categories
########################################################
item_infos=li class="icon-category"><a href="([^"]*)">([^<]*)
item_order=url|title.tmp
item_skill=category
item_info_name=title
item_info_build=video.devil.locale|30100
item_infos_actions=join(, title, title.tmp)
item_url_build=%s
########################################################
# List
########################################################
item_infos=<p class="thumb"><a href="(/[^"]+)"><img src="([^"]+)"(?:[^>]+>){7}([^<]+)
item_order=url|icon|title
item_skill=category
item_url_build=http://ero-erodouga.com%s
########################################################
# Next
########################################################
item_infos=href="([^"]*)" class="link_next"
item_order=url
item_skill=next
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=%s
########################################################
# Search
########################################################
title=video.devil.locale|30102
type=search
icon=video.devil.image|search.png
url=http://ero-erodouga.com/mt/mt-search.cgi?search=%s&IncludeBlogs=2&limit=20
########################################################